<?xml version="1.0" encoding="utf-8"?>
<urlrewritingnet xmlns="http://www.urlrewriting.net/schemas/config/2006/07">
  <rewrites>
    <add name="Startview Templating"
        virtualUrl="^~/(?![0-9]+/)(?!umbraco/)([^\?]*?)$"
        rewriteUrlParameter="ExcludeFromClientQueryString"
        destinationUrl="~/$1?altTemplate=StartView"
        ignoreCase="true" />  
  </rewrites>
</urlrewritingnet>
