@using code.models
@inherits UmbracoTemplatePage
@{
    Layout = null;
}<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <base href="/">
    <title>Document</title>
</head>
<body>

    <div class="menu">
        <!-- you should probably assemble this with angular in the real world, for this example this will do -->

        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/subpage-1">Page 1</a>
                <ul>
                    <li><a href="/subpage-1/nested-subpage/">Nested</a></li>
                </ul>
            </li>
            <li>
                <a href="/subpage-2">Page 2</a>
            </li>
        </ul>

    </div>
    
    <div style="position:relative;">
        <div class="view" ui-view></div>
    </div>



    <script src="scripts/angular-1.3.0.js"></script>
    <script src="scripts/angular-ui-router.js"></script>
    <script src="scripts/angular-sanitize.js"></script>
    <script src="scripts/angular-animate.js"></script>
    <script src="scripts/TweenMax.js"></script>
    <script src="scripts/app.js"></script>
    @Html.Partial("GlobalInfo", new GlobalModel(Model.Content))
</body>
</html>


