<!DOCTYPE root[<!ELEMENT Subpage ANY>
<!ATTLIST Subpage id ID #REQUIRED>
<!ELEMENT Frontpage ANY>
<!ATTLIST Frontpage id ID #REQUIRED>
 

]>
<root id="-1">
  <Frontpage id="1052" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2014-11-29T00:00:23" updateDate="2014-11-29T00:00:23" nodeName="Home" urlName="home" path="-1,1052" isDoc="" nodeType="1050" creatorName="Admin" writerName="Admin" writerID="0" template="0" nodeTypeAlias="Frontpage">
    <Subpage id="1053" parentID="1052" level="2" creatorID="0" sortOrder="0" createDate="2014-11-29T00:00:34" updateDate="2014-11-29T00:00:34" nodeName="Subpage 1" urlName="subpage-1" path="-1,1052,1053" isDoc="" nodeType="1051" creatorName="Admin" writerName="Admin" writerID="0" template="0" nodeTypeAlias="Subpage" />
    <Subpage id="1054" parentID="1052" level="2" creatorID="0" sortOrder="1" createDate="2014-11-29T00:00:42" updateDate="2014-11-29T00:00:42" nodeName="Subpage 2" urlName="subpage-2" path="-1,1052,1054" isDoc="" nodeType="1051" creatorName="Admin" writerName="Admin" writerID="0" template="0" nodeTypeAlias="Subpage" />
  </Frontpage>
</root>